.container {
	padding: 0;
	margin: 0;
	min-height: 100vh;
	width: 100vw;
	font-family: 'Poppins';
	color: #414042;
}
.header {
	height: 15vh;
	width: 100vw;
	background-color: rgba(255, 211, 49, 1);
}
.headerContainer {
	height: 15vh;
	width: 86vw;
	margin: auto;
	display: flex;
}
.headerContainer div {
	margin: 0;
	padding: 0;
	flex: 1;
	display: flex;
	align-items: center;
	font-size: 1.5rem;
	font-family: 'Poppins';
	list-style: none;
}
.headerContainer div li {
	list-style: none;
}
.headerContainer div li:hover {
	font-weight: 500;
}
.form {
	width: 100vw;
	display: grid;
	align-content: center;
	justify-items: center;
	padding: 2rem;
	padding-top: 4rem;
}
.form form {
	width: 30%;
}
.form form div {
	margin: 1rem 0;
	font-size: 1.2rem;
}
.form form input,
.form form select {
	float: right;
	width: 10rem;
	height: 1.5rem;
	outline: none;
	border-radius: 5px;
	padding: 0.3rem;
	border: 1px solid #41404263;
}
.form form button {
	width: 50%;
	margin: 0 25%;
	background-color: #0670ed;
	color: #fff;
	border: none;
	height: 2rem;
	font-size: 1rem;
	border-radius: 10px;
}
.form p {
	text-align: center;
	font-size: 0.8rem;
	margin: 0;
	margin-top: 0.5rem;
}
.form p:hover {
	color: #0670ed;
	cursor: pointer;
}
@media (max-width: 1000px) {
	.form form {
		width: 45%;
	}
	.form form button {
		width: 60%;
		margin: 0 20%;
	}
}
@media (max-width: 800px) {
	.form {
		padding: 1.5rem;
		padding-top: 4rem;
	}
	.form form {
		width: 60%;
	}
	.form form button {
		width: 70%;
		margin: 0 15%;
	}
}

@media (max-width: 500px) {
	.form {
		padding: 1rem;
		padding-top: 3rem;
	}
	.form form {
		width: 90%;
	}
	.form form button {
		width: 80%;
		margin: 0 10%;
	}
}
